body {
    background-color: black;
}
input {
    padding-left: 5px;
}
label {
    color: white;
}
input[required] {
    border: solid 1px orange;
}
input.fail {
    border-left: 5px solid red;
}
div#contenedor, div#ajax {
    color: white;
}
div.width {
    max-width: 50px;
    text-align: center;
    /* width: 100%; */
    display:inline;
    /* padding-left: 50px; */
    /* display: block; */
}
img {
    width: 50px;
    
}