/* @media print {
  body {
    display: none;
  }
  table {
    display: block;
  }
}
@media screen {
  table {
    display: none;
  }
} */
@media only screen and (max-width: 425px) {
  div {
    display: inline;
  }
}
@media only screen and (min-width: 1000px) {
  div {
    margin: 20px;
    border: 20px solid blue;
    border-radius: 100px;
    background-color: rgb(21, 18, 173);
  }

  div > .orange {
    background-color: orange;
    font-size: 40px;
  }
  div + article {
    background-color: pink;
    width: 200px;
    height: 200px;
  }
  p {
    font-size: large;
  }
  p::first-letter {
    font-size: xx-large;
    color: purple;
  }
  a {
    font-size: 50px;
    text-decoration: none;
    color: yellow;
  }
  a::first-letter {
    font-size: 60px;
  }
  a:hover {
    color: aqua;
  }
  a:active {
    color: blue;
  }
  div:hover {
    background-color: darkgreen;
  }
}

i {
    color: white;
}
