@media only screen and (max-width: 425px) {
  header {
    background-color: rgb(0, 0, 95);
    width: 100%;
    height: 100px;
  }
  li {
    text-transform: lowercase;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    display: block;
    color: #d5d5ff;
    /* -webkit-text-stroke: 1px red; */
  }
  li::before {
    text-decoration: none;
  }
}
@media only screen and (min-width: 426px) {
  header {
    background-color: rgb(0, 0, 95);
    width: 100%;
    height: 100px;
  }
  li {
    text-transform: uppercase;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    display: inline;
    color: #d5d5ff;
    -webkit-text-stroke: 1px red;
  }
  li::before {
    text-decoration: none;
  }
}
