/* * {
    display: inline;
} */
img {
  width: 50px;
  height: 50px;
  /* visibility: hidden; */
  display: none;
}
@media only print {
  * {
    color: black;
    /* display: none; */
  }
  h1 {
    color: black;
  }
  img {
    display: none;
  }
}
@media only screen and (max-width: 425px) {
    div {
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: tomato;
        height: 50px;
      }
}
@media only screen and (min-width: 426px) {
  img {
    display: block;
  }
  .holaMundo {
    color: black;
  }
  div {
      background-color: teal;
  }
  div.holaMundo + div {
    background-color: blue;
  }
  div p::first-letter {
    font-size: 60px;
    color: gray;
  }
  a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: red;
  }
  a:active {
    color: blue;
  }

  h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
  }
  h2 {
    font-family: Arial, Helvetica, sans-serif;
  }
}

div {
    background-color: black;
    height: 40px;
}
div:hover {
    background-color: red;
}
div.button {
    height: 40px;
    width: 80px;
    text-align: center;
    color: white;
    padding: 3%;
    border-radius: 10%;
    /* border-style: dotted;
    border-color: yellow; */
    border: dotted yellow 100px;
}
div.button:active {
    background-color: violet;
    color: black;
}
p.the {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 400;
}
p.the::first-letter {
    font-family: 'Times New Roman', Times, serif;
    font-size: 90px;
    font-weight: 900;
    background-image: url("https://i.pinimg.com/474x/ee/68/29/ee6829598c53069b878af36c8a06e181.jpg");
}