body {
    background-color: black;
}
label, div#alumnos {
    color: white;
}
input {
    padding-left: 5px;
}
input[required] {
    border: 3px solid orange;
}
input.fail {
    border-left: 5px solid red;
}
.alert {
    background-color: red;
    color: white;
}